.socials {
  display: flex;
  align-items: center;
  gap: 15px;

  a {
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      width: 25px;
      height: 25px;
      fill: #423d38;
    }
  }
}
